<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Sistema Desenvolvido utilizando springboot(Backend) e angular(Frontend)</mat-card-title>
    </mat-card-header>
    <img mat-card-image src="assets/img/icons-contato.svg" alt="image home cadastro">
    <mat-card-content>

        <h1>Contato:</h1>      

      <p class="contato">
        <a href="https://github.com/Rodrigoxalmeida" target="blank">Github</a>
      </p>

      <p class="contato">
        <a href="https://linkedin.com/in/rodrigo-almeida-b6a99b177" target="blank">Linkedin</a>
      </p>

      <p class="contato">
        <a>Email: Rodrigox.almeida@yahoo.com.br</a>
      </p>

      <p class="dev">
          Desenvolvido por: Rodrigo de Almeida P.Salvador
      </p>
    </mat-card-content>
  </mat-card>
  