.card {
    width: 90%;
    margin:4em auto;
    background-color: rgb(235,235,235);
}

img {
    height: 25rem;
}

.dev {
    text-align: center;
    opacity: .4;
}

.titulo {
    margin-bottom: 1rem;
}