<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Cadastro</mat-card-title>
      <mat-card-subtitle>Sistema feito para organização e controle de venda</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-img.svg" alt="image home cadastro">
    <mat-card-content>
      <p>
        Sitema de cadastro.
      </p>
      <p class="dev">
          Desenvolvido por: Rodrigo de Almeida P.Salvador
      </p>
    </mat-card-content>
  </mat-card>
  