.container {
    width: 90%;
    margin: auto auto 2rem auto; 
}

table {
    width: 100%; 
}

mat-form-field{
    width: 100%;
}

button {
    width: 100%;
    color: orange;
    margin-bottom: 2rem;
}

h1 {
    width: 100%;
    text-align: center;
    margin: 3rem auto 3rem auto;
}

.edit {
    color: rgb(255, 115, 0);
}

.delete {
    color: red;
}
